.mainBg {
  height: 300px;
  background-image: url(./assets/mainBg.jpg);
  background-size: cover;
  background-position: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.navHover:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.post-post-label {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

.post-post-image-minimize {
  max-width: 10%;
  max-height: 10%;
  display: block;
}

/* navBar.tsx */
.user-info-nav {
  width: 100px;
  margin: auto;
  font-size: 15px;
}

/* card.tsx */
.cardImgContainer {
  width: 100%; /* 원하는 너비 */
  padding-top: 133.33%; /* 3:4 비율을 유지하기 위해 컨테이너의 높이를 너비의 75%로 설정 */
  position: relative;
  overflow: hidden;
}

/* card.tsx */
.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞게 잘라서 꽉 채웁니다 */
}

/* card.tsx */
.cardTitleFixed {
  width: 100%; /* 또는 원하는 너비 */
  height: 50px; /* 원하는 높이 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

/* card.tsx */
.cardBodyFixed {
  width: 100%; /* 또는 원하는 너비 */
  height: 150px; /* 원하는 높이 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 */
}

/* Post.tsx */
.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  margin-bottom: 100px;
}

/* Post.tsx */
.post-card {
  width: 80%;
}

/* Post.tsx */
.post-button {
  position: absolute;
  bottom: -50px;
}

/* Media Query */

/* 뷰포트가 361px 이상일 때 요소 중앙정렬. */
@media (min-width: 361px) {
  .center-align {
    display: flex;
    justify-content: center;
  }
}
