.cardImgContainer {
  width: 100%; /* 원하는 너비 */
  padding-top: 133.33%; /* 3:4 비율을 유지하기 위해 컨테이너의 높이를 너비의 75%로 설정 */
  position: relative;
  overflow: hidden;
}

.cardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 컨테이너에 맞게 잘라서 꽉 채움 */
}

.cardTitleFixed {
  display: flex;
  justify-content: space-between; /* nickname과 dropdown을 양쪽 끝으로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 10px;
  gap: 10px;
}

.cardUserImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.cardBodyFixed {
  width: 100%; /* 또는 원하는 너비 */
  height: 150px; /* 원하는 높이 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 */
}

.cardFooter {
  background-color: #f8f9fa;
  border-top: none;
  padding: 10px;
  font-size: 0.9rem;
  color: #6c757d;
}
